.logo {
  width: 55px;
  margin-right: 10px;
  vertical-align: middle;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  color: #fff;
  position: relative;
  z-index: 1;
}